#rowf1 {
    margin-top:30px; 
    
    overflow-x: hidden;
    background-color:#0E0BDE; 
  
  
  
  }
  
  #rowfooter1  {
    
    width: 100%;
    overflow-x: hidden;
    background-color:#0E0BDE; 
  
  
  }
  
  #rowfooter2  {
    
    width: 100%;
    overflow-x: hidden;
    background-color:#0E0BDE; 
  
  
  }


 h2 {
  color:white;
  background-color: #0E0BDE;




 }

.icons {

  color: white;




}



